## Label And Ordinal Encoding 
It is for catagorical ranking or order data

In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
# create a sample dataframe with a catagorical variable
df = pd.DataFrame({
    'color' : ['red','blue','green','green','red','blue']
})

In [4]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [5]:
# create an instance of LabelEncoder
encoder = LabelEncoder()

In [6]:
encoder.fit_transform(df['color'])

array([2, 0, 1, 1, 2, 0])

In [7]:
## Ordinal Encoding
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

# create a sample dataframe with an ordinal variable
df = pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [8]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [9]:
# create an instance of Ordinal Encoder class and fit_transform
encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [10]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])